---

---
<div class="text-center">
  <img src="https://www.ceos3c.com/wp-content/uploads/2023/01/avatar-150x150.jpg?ezimgfmt=ng:webp/ngcb56" alt="extra large avatar" class="mb-4 rounded h-36 lg:h-56"/>
  <a href="https://www.twitter.com/@" class="text-xl text-white transition-all duration-500 lg:text-2xl hover:text-teal-200">@lenka_codes</a>
</div>
 
<style></style>